/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e8c087;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    display: flex;
    width: 800px;
    background-color: white;
}
.left-section {
    background-color: #44485b;
    color: white;
    width: 30%;
    padding: 20px;
}
.right-section {
    width: 70%;
    padding: 20px;
}

.left-section h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
}

.left-section h2 span {
    display: block;
    margin-top: 10px;
    font-weight: normal;
    border-bottom: 2px solid #e88a8a;
    padding-bottom: 5px;
}

.author {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 1rem;
}
